

<div id="modal-content-wrapper">
    <header id="modal-header">
        <h1 id="modal-title">About Me</h1>
    </header>
    <section id="modal-body">
        <p>A few interesting things about me. I enjoy fishing whenever I can find the time to, bass fishing specifically. I am also an avid coder.
            I love following technology and keeping up with popular trends. I spend a lot of time using R and Python to automate things that I do everyday. 
            Progression means a lot to me. I feel extremely static if I am not continuously learning or accomplishing something.
        </p>
        <p> 
             I currently work at Stifel, 7th largest brokerage firm in the U.S., as a Data Analyst. I focus on trading data and data on the advisory side of the firm. I 
             recently finished my master's in Data Science at Maryville University in St. Louis, Missouri and continue to push my knowledge further within
              my professional and personal life. 

        </p>
    </section>
    <footer id="modal-footer">
        <button mat-raised-button id="modal-cancel-button" (click)="closeModal()">Go back</button>
    </footer>
</div>