
<style>
  :host { 
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: .97;
  }

  .toolbar {
    height: 60px;
    margin: 10px;
    display: flex;
    align-items: center;
    background-color: white;
    color: black;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }



  .Mtoolbar {
    height: 200px;
    margin-right: 20%;
    margin-left: 20%;
    padding-top: 10%;
    padding-bottom: 15%;
    display: flex;
    align-items: top,center;
    background-color: white;
    color: black;
    font-weight: 600;
  }

  .Mtoolspace {
    margin-right: 35%;
    margin-left: 35%;
    padding-top: 4%;
    padding-bottom: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .Mtoolcenter {
    align-content: left:center;
  }


  .Mtoolbar img {
    align-content: center;
    margin: 0%;
    width: 100%;
    max-width: 300px;

  }

  .Mspacer {
    flex: .98;
  }







  .content {
    display: flex;
    margin: 32px auto;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  svg.material-icons {
    height: 24px;
    width: auto;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }

  .card svg.material-icons path {
    fill: #888;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 10%;
  }

  .card {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 100px;
    width: 220px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: 16px;
    width: 168px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(black, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .card.card.highlight-card span {
    margin-left: 60px;
  }

  svg#rocket {
    width: 80px;
    position: absolute;
    left: -10px;
    top: -24px;
  }

  svg#rocket-smoke {
    height: 100vh;
    position: absolute;
    top: 10px;
    right: 180px;
    z-index: -10;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  .terminal {
    position: relative;
    width: 80%;
    max-width: 600px;
    border-radius: 6px;
    padding-top: 45px;
    margin-top: 8px;
    overflow: hidden;
    background-color: rgb(15, 15, 16);
  }

  .terminal::before {
    content: "\2022 \2022 \2022";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    background: rgb(58, 58, 58);
    color: #c2c3c4;
    width: 100%;
    font-size: 2rem;
    line-height: 0;
    padding: 14px 0;
    text-indent: 4px;
  }

  .terminal pre {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    color: white;
    padding: 0 1rem 1rem;
    margin: 0;
  }

  .circle-link {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin: 8px;
    background-color: white;
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 1s ease-out;
  }

  .circle-link:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }

  .inbl {
    display: inline-block;
    vertical-align: top;
}
.container {
    white-space: nowrap;
}

  svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }

  .column {
  float: left;
  width: 50%;
}

h3 span {
 color: red;
 font-weight: 3;
 text-size-adjust: 555;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;}





  /* Responsive Styles */
 @media screen and (max-width: 767px) {

    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }



</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="assets/checker.svg"
  />
  <span> R. Frankenfield</span>
    <div class="spacer"></div>
      <img  (click) = "showTextP()" src="assets/contact.svg" />
      <img (click) = "showTextE()" src="assets/email.svg" />
    </div>


      <div align="center" (dblclick) = "hideTextP()"><h3 *ngIf="textShowP" style="font-size: 3vmin;"><a  href="tel:6363469067">636-346-9067 </a><span color=red>double-click to hide</span> </h3></div>
      <div align="center" (dblclick) = "hideTextE()"><h3 *ngIf="textShowE"style="font-size: 3vmin;"><a href="mailto:rosswf.ms@gmail.com"> rosswf.ms@gmail.com </a><span color=red>double-click to hide</span> </h3></div>



  <!-- Resources -->
  <div class="Mtoolspace" role="banner">
    <div>
    <h1>I am</h1>
    <h1>Ross Frankenfield</h1>
    <p style= "word-break: break-word; margin-bottom: 10%;" >Ruminative Coder and Analyst. Inspired by the craft.<p>
    </div>
    <div class="Mspacer"></div>
      <div>
      <img src="/assets/images/Me.JPG"  class="img"/>
      </div>
      </div>

<div>

<h1>


</h1>

</div>

<div class="content" role="main">


  <h3 style='text-align:center'>Here are a few links to learn about me:</h3>

  <div class="card-container">
    <a class="card" target="_blank" rel="noopener" id="logout-button" (click)="openModal()">
      <img src="assets/person.svg"/>
      <span>Who I Am</span>

      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>    </a>

    <a class="card" target="_blank" rel="noopener" href="https://drive.google.com/file/d/16dmq6OJspmBm1DSIOi37ERiZ092L3ETP/view?usp=sharing">
      <img src="assets/domain.svg"/>
      <span>Resume</span>

      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>

    <a class="card" target="_blank" rel="noopener" href="https://www.linkedin.com/in/ross-frankenfield-msba-23561873/">
      <img src="assets/linkedin.svg"/>
      <span>LinkedIn</span>

      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>

    <a class="card" target="_blank" rel="noopener" href="https://github.com/rwfrankenfield1s">
      <img src="assets/github.svg"/>
      <span>Github</span>

      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>

    <!-- <a class="card" target="_blank" rel="noopener" href="https://blog.angular.io/">
      <img src="assets/blog.svg"/>

      <span>My Blog</span>

      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a> -->

  </div>


  <!-- Next Steps -->
  
  <!-- <h1>Click To Explore</h1>
  <p>Solve all of your data needs:</p>

  <input type="hidden" #selection>

  <div class="card-container">
    <div class="card card-small" (click)="selection.value = 'component'" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>

      <span>Data Visualization</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'material'" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>

      <span>Data Automation</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'dependency'" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>

      <span>Data Science</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'test'" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>

      <span>NLP</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'build'" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>

      <span>Mobil Analytics</span>
    </div>
  </div> -->

  <!-- Terminal -->

  <!-- 
  <div class="terminal" [ngSwitch]="selection.value">
      <pre *ngSwitchDefault>Data visualization is the graphic representation of data. It involves 
    producing images that communicate relationships among the represented 
    data to viewers of the images. This communication is achieved through 
    the use of a systematic mapping between graphic marks and data values 
    in the creation of the visualization.</pre>
      <pre *ngSwitchCase="'material'"></pre>
      <pre *ngSwitchCase="'dependency'"></pre>
      <pre *ngSwitchCase="'test'"></pre>
      <pre *ngSwitchCase="'build'"></pre>
  </div> -->


  <!-- Footer -->
  <footer>
  </footer>

</div>


<router-outlet></router-outlet>